# Site settings
title: My Blog
description: A simple Jekyll blog
url: "https://xroggen.github.io"
baseurl: "/CMS"

# Build settings
markdown: kramdown
permalink: /:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
